// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
$control-back:#0088cc;
.c-acc {
    border: 1px solid #2d2d2d;
    padding: 0px 2px;
    margin-right: 5px;
}
ion-content.c-bg {
    background: url(../assets/imgs/appbg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.butnz-list {
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
} 
.text-center {
    text-align: center;
}
.footer a {
    text-decoration: none;
    color: #2d2d2d;
    font-weight: 500;
}
ul.btn-lst li {
    display: inline-block;
    margin: 0px 20px;
    float: none;
    position: relative;
}
ul.btn-lst {
    list-style: none;
    padding: 0;
    text-align: center;
}
ul.btn-lst li button ion-icon.icon {
    color: #73af12;
    background: #ededed;
    padding: 5px;
    border-radius: 100%;
    width: 25px;
    text-align: center;
    height: 25px;
}
.btn-login {
    color: #fff;
    background-color: #46871e;
    min-height: 55px;
    border-radius: 2px;
    width: 55px;
    margin: 0 auto;
}
.btn-login-txt {
    color: #46871e;
    font-size: 9px;
    padding: 0px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0px;
}
.butnz-list-login {
    position: absolute;
    bottom: 10px;
    left: 0;
    background: rgba(255, 255, 255, 0.85);
    right: 0;
}
.btn-ftr-txt {
    color: #46871e;
    font-size: 12px;
    padding: 0px;
    margin: 0px;
}
.btn-login-dt {
    color: #fff;
    background-color: #46871e; 
    border-radius: 2px; 
    margin: 0 auto;
}
.butnz-list-login .item-md { 
    color: #000;
    background-color: #fff0; 
}
.item-input .label-md, .item-select .label-md, .item-datetime .label-md {
    color: #46871e;
}
.c-btn-icon ion-icon.icon {
    padding-right: 5px;
}